 <link rel="stylesheet" href="../static/styleboard.css">
 <div class="container">
   
    <div class="chessBoard">        
      <!-- Add the pawn div element -->
      <div class="square white">
        <div class="piece rook" color="black"  >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bR.png" alt="Rook" >
          </div>
      </div>
      <div class="square black">
        <div class="piece knight" color="black" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bN.png" alt="pawn" >
          </div>
      </div>
      <div class="square white">
        <div class="piece bishop" color="black" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bB.png" alt="pawn" >
          </div>
      </div>
      <div class="square black">
        <div class="piece queen" color="black" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bQ.png" alt="Queen" >
          </div>
      </div>
      <div class="square white">
        <div class="piece king" color="black" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bK.png" alt="King" >
          </div>
      </div>
      <div class="square black">
        <div class="piece bishop" color="black" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bB.png" alt="Bishop" >
          </div>
      </div>
      <div class="square white">
        <div class="piece knight" color="black">
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bN.png" alt="Knight" >
          </div>
      </div>
      <div class="square black">
        <div class="coordinate rank whiteText">8</div>

        <div class="piece rook" color="black" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bR.png" alt="Rook" >
          </div>
      </div>
     <!-- ------------------------------------------------------------------------- -->

      <div class="square black">
        <div class="piece pawn" color="black"  >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bP.png" alt="pawn" >
          </div>

      </div>
      <div class="square white">
        <div class="piece pawn" color="black" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bP.png" alt="pawn" >
          </div>

      </div>
      <div class="square black">
        <div class="piece pawn" color="black" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bP.png" alt="pawn" >
          </div>

      </div>
      <div class="square white">
        <div class="piece pawn" color="black" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bP.png" alt="pawn" >
          </div>

      </div>
      <div class="square black">
        <div class="piece pawn" color="black"  >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bP.png" alt="pawn" >
          </div>

      </div>
      <div class="square white">
        <div class="piece pawn" color="black"  >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bP.png" alt="pawn">
          </div>

      </div>
      <div class="square black">
        <div class="piece pawn" color="black"  >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bP.png" alt="pawn" >
          </div>

      </div>
      <div class="square white">
        <div class="coordinate rank blackText">7</div>

        <div class="piece pawn" color="black"  >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/bP.png" alt="pawn" >
          </div>

      </div>
    <!-- ------------------------------------------------------------------------- -->
      <div class="square white"></div>
      <div class="square black"></div>
      <div class="square white"></div>
      <div class="square black"></div>
      <div class="square white"></div>
      <div class="square black"></div>
      <div class="square white"></div>
      <div class="square black">
        <div class="coordinate rank whiteText">6</div>

      </div>
    <!-- ------------------------------------------------------------------------- -->

      <div class="square black"></div>
      <div class="square white"></div>
      <div class="square black"></div>
      <div class="square white"></div>
      <div class="square black"></div>
      <div class="square white"></div>
      <div class="square black"></div>
      <div class="square white">
        <div class="coordinate rank blackText">5</div>

      </div>
    <!-- ------------------------------------------------------------------------- -->

      <div class="square white"></div>
      <div class="square black"></div>
      <div class="square white"></div>
      <div class="square black"></div>
      <div class="square white"></div>
      <div class="square black"></div>
      <div class="square white"></div>
      <div class="square black">
        <div class="coordinate rank whiteText">4</div>

      </div>
    <!-- ------------------------------------------------------------------------- -->

      <div class="square black"></div>
      <div class="square white"></div>
      <div class="square black"></div>
      <div class="square white"></div>
      <div class="square black"></div>
      <div class="square white"></div>
      <div class="square black"></div>
      <div class="square white">
        <div class="coordinate rank blackText">3</div>
      </div>
    <!-- ------------------------------------------------------------------------- -->

      <div class="square white">
        <div class="piece pawn" color="white" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wP.png" alt="pawn" >
          </div>
      </div>
      <div class="square black">
        <div class="piece pawn" color="white"  >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wP.png" alt="pawn" >
          </div>
      </div>
      <div class="square white">
        <div class="piece pawn" color="white">
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wP.png" alt="pawn" >
          </div>
      </div>
      <div class="square black">
        <div class="piece pawn" color="white" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wP.png" alt="pawn" >
          </div>
      </div>
      <div class="square white">
        <div class="piece pawn" color="white" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wP.png" alt="pawn" >
          </div>
      </div>
      <div class="square black">
        <div class="piece pawn" color="white" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wP.png" alt="pawn" >
          </div>
      </div>
      <div class="square white">
        <div class="piece pawn" color="white" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wP.png" alt="pawn" >
          </div>
      </div>
      <div class="square black">
        <div class="coordinate rank whiteText">2</div>

        <div class="piece pawn" color="white" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wP.png" alt="pawn" >
          </div>
      </div>
    <!-- ------------------------------------------------------------------------- -->

      <div class="square black">
        <div class="coordinate whiteText">a</div>

        <div class="piece rook" color="white">
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wR.png" alt="Rook" >
           </div>
      </div>
      <div class="square white"> 
        <div class="coordinate blackText">b</div>

        <div class="piece knight" color="white">
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wN.png" alt="Knight" >
           </div>
    </div>
      <div class="square black">
        <div class="coordinate whiteText">c</div>

        <div class="piece bishop" color="white">
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wB.png" alt="Bishop">
           </div>
      </div>
      <div class="square white">
        <div class="coordinate blackText">d</div>

        <div class="piece queen" color="white" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wQ.png" alt="Queen" >
           </div>
      </div>
      <div class="square black">
        <div class="coordinate whiteText">e</div>

        <div class="piece king" color="white">
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wK.png" alt="King">
        </div>
      </div>
      <div class="square white">
        <div class="coordinate blackText">f</div>
        <div class="piece bishop" color="white" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wB.png" alt="Bishop" >
           </div>
      </div>
      <div class="square black">
        <div class="coordinate whiteText">g</div>

        <div class="piece knight" color="white" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wN.png" alt="Knight">
           </div>
      </div>
      <div class="square white">
        <div class="coordinate rank blackText">1</div>
        <div class="coordinate blackText">h</div>     
        <div class="piece rook" color="white" >
            <img src="../static/chessboardjs/img/chesspieces/wikipedia/wR.png" alt="Rook" >
           </div>
      </div>
      <div id="alert">
        Draw 
       </div>
    </div>

     </div>
     <div>
       <div id="join">
        <input type="text" id="usernameInput" placeholder="Enter your username" />
        <button onclick="joinGame()">Join Game</button>
       </div>
       <div id="counter"></div>
       <div id="playerInfo"></div>
       <div id="gamePlayerInfo">
        <div class="player"><span id="player2">Player2</span></div>
        <div id="moveNavigation">
          <div id="fastBackward" class="navigation">
            <i class="fa fa-fast-backward"></i>
          </div>
          <div id="stepBackward" class="navigation">
            <i class="fa fa-step-backward"></i>
          </div>
          <div id="stepForward" class="navigation">
            <i class="fa fa-step-forward"></i>
          </div>
          <div id="fastForward" class="navigation">
            <i class="fa fa-fast-forward"></i>
          </div>
        </div>
        <div id="pgnContainer"></div>
        <div class="iconContainer">
          <span id="resignButton" class="gameActions"><i class="fa-solid fa-flag"></i></span>
        </div>
        <div class="player">

          <span id="player1">Player1</span>

        </div>
       </div>

    </div>

    <script src="../static/client.js"></script>
    <script src="../static/main.js"></script>