<div class="index-content">
  <div class="section-content header-content">
    <h1>Bienvenidos a nuestro Club de Ajedrez Gambito de Puente Tocinos</h1>
    <p>
      Somos una asociación de ajedrez dedicada tanto como a promover el juego
      como a formar una gran comunidad de ajedrecistas en Puente Tocinos.
    </p>
    <p>
      Explora nuestras secciones para conocer más sobre nosotros, nuestras
      actividades y cómo unirte.
    </p>

    <ul>
      <li class="index-item">
        <div id="paper-img">
          <img src="../static/images/paper.svg" alt="Paper" />
        </div>
        <p>Fundado en 2025</p>
      </li>
      <li class="index-item">
        <div id="people-img">
          <img src="../static/images/people.svg" alt="People" />
        </div>
        <p>+10 miembros</p>
      </li>
      <li class="index-item">
        <div id="chess-img">
          <img src="../static/images/chess.svg" alt="Chess" />
        </div>
        <p>Todos los niveles</p>
      </li>
    </ul>

    <button class="btn" hx-get="/form" hx-target="#content">
      Únete a nosotros
    </button>
  </div>
  <div id="index-containers">
    <div class="section-content">
      <h2>Últimas noticias</h2>
      <p>
        Descubre las últimas novedades y eventos destacados en nuestro club.
      </p>
      <section class="news-section">
        <div class="news-item">
          <img
            src="/static/images/news1.jpg"
            alt="Inscripciones Otoño 2025"
            class="news-image lazy-load-image"
          />
          <div class="news-header">
            <h3>Inscripciones Otoño 2025</h3>
            <p class="news-date">Fecha: 11/06/2025</p>
          </div>
          <p>
            ¡Ya están abiertas las inscripciones para la temporada de otoño! No
            pierdas la oportunidad de unirte a nuestras actividades y torneos.
          </p>
          <button class="btn" hx-get="/form" hx-target="#content">
            Inscríbete
          </button>
        </div>

        <div class="news-item">
          <img
            src="/static/images/news1.jpg"
            alt="Apertura del club"
            class="news-image lazy-load-image"
          />
          <div class="news-header">
            <h3>Apertura del club</h3>
            <p class="news-date">Fecha: 29/06/2025</p>
          </div>
          <p>
            Nos complace anunciar la apertura oficial del Club de Ajedrez
            Gambito de Puente Tocinos. Nuestro equipo está impaciente por
            empezar esta nueva aventura junto a todos ustedes.
            ¿Quieres unirte a nosotros? ¡Inscríbete ahora!
          </p>
        </div>

        <div class="news-item">
          <img
            src="/static/images/news1.jpg"
            alt="Campeonato Septiembre"
            class="news-image lazy-load-image"
          />
          <div class="news-header">
            <h3>Campeonato Septiembre</h3>
            <p class="news-date">Fecha: 11/06/2025</p>
          </div>
          <p>
             Anunciamos el campeonato mensual de septiembre. Todos los miembros
            están invitados a participar. ¡Demuestra tus habilidades y gana
            premios!
          </p>
          <button
            class="btn"
            hx-get="/form-tournaments"
            hx-target="#content"
            hx-push-url="true"
          >
            Inscríbete
          </button>
        </div>
      </section>
    </div>
    <div class="section-content">
      <h2>Horarios y programación semanal de las clases</h2>
      <p>
        Consulta nuestros horarios para no perderte ninguna clase ni evento. ¡Te
        esperamos!
      </p>
      <section id="horarios">
        <div>
          <h2>Horarios de Clases</h2>
          <div>
            <div>
              <div id="horarios-header">
                <div id="clock-img">
                  <img src="../static/images/clock.svg" alt="Paper" />
                </div>
                <h4>Programación Semanal</h4>
              </div>
              <div>
                <table>
                  <thead>
                    <tr>
                      <th>Día</th>
                      <th>Hora</th>
                      <th>Nivel</th>
                      <th>Instructor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div>
                          <div>📅</div>
                          <div>
                            <h3>Lunes</h3>
                            <p>09:00 - 10:00 AM</p>
                          </div>
                        </div>
                      </td>
                      <td>09:00 - 10:00 AM</td>
                      <td>Principiante</td>
                      <td>Iván Ayala López</td>
                    </tr>
                    <tr>
                      <td>
                        <div>
                          <div>📅</div>
                          <div>
                            <h3>Miércoles</h3>
                            <p>6:30 - 8:00 PM</p>
                          </div>
                        </div>
                      </td>
                      <td>6:30 - 8:00 PM</td>
                      <td>Intermedio</td>
                      <td>Arturo Cano Serrano</td>
                    </tr>
                    <tr>
                      <td>
                        <div>
                          <div>📅</div>
                          <div>
                            <h3>Sábado</h3>
                            <p>09:00 - 10:15 AM</p>
                          </div>
                        </div>
                      </td>
                      <td>09:00 - 10:15 AM</td>
                      <td>Avanzado</td>
                      <td>Iván Ayala López</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="additional-info">
            <h4>Información adicional</h4>
            <p>
            Las clases entre semana se imparten en nuestras instalaciones ubicadas en el Centro Cultural de Puente Tocinos.
             Los sábados, las clases se realizan en "La Nave".
             Para más información sobre niveles y requisitos, no dudes en contactarnos.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="section-content">
      <h2>Nuestro equipo</h2>
      <p>
        Conoce a nuestro equipo de instructores y fundadores del club. Cada uno
        aporta su experiencia y pasión por el ajedrez para ayudarte a expandir
        tus habilidades.
      </p>
      <section class="team-section">
        <div class="team-member">
          <img
            src="/static/images/team1.jpg"
            alt="Arturo Cano Serrano"
            class="team-image lazy-load-image"
          />
          <h3>Arturo Cano Serrano</h3>
          <p class="team-position">Presidente</p>
          <a
            href="https://ratings.fide.com/profile/523096195"
            class="fide-elo-link"
            >ELO: 1709</a
          >
          <p>
            Maestro FIDE con más de 20 años de experiencia en competiciones
            nacionales e internacionales.
          </p>
          <p class="member-quote">
            "El ajedrez es el arte de la estrategia hecha realidad."
          </p>
        </div>
        <div class="team-member">
          <img
            src="../static/images/andre.jpg"
            alt="Andre Yermak Naumenko"
            class="team-image lazy-load-image"
          />
          <h3>André Yermak Naumenko</h3>
          <p class="team-position">Vicepresidente</p>
          <a
            href="https://ratings.fide.com/profile/535019352"
            class="fide-elo-link"
            >ELO: 1426</a
          >
          <p>
            Especialista en aperturas y análisis de partidas, instructor
            certificado.
          </p>
          <p class="member-quote">
            "El ELO no es más que un mero número, trata de disfrutar del juego
            de la mejor manera posible."
          </p>
        </div>
        <div class="team-member">
          <img
            src="../static/images/laura.jpg"
            alt="Laura Soler"
            class="team-image lazy-load-image"
          />
          <h3>Laura Soler López</h3>
          <p class="team-position">Secretaria</p>
          <a class="fide-elo-link">ELO: ----</a>
          <p>
            Especialista en ajedrez pedagógico y formación de jóvenes talentos.
          </p>
          <p class="member-quote">
            "Mi estrategia es tan buena que hasta yo me sorprendo cuando pierdo en cuatro jugadas"
          </p>
        </div>
        <div class="team-member">
          <img
            src="/static/images/team1.jpg"
            alt="Adrian Zamora Sanchez"
            class="team-image lazy-load-image"
          />
          <h3>Adrián Zamora Sánchez</h3>
          <p class="team-position">Tesorero</p>
          <a
            href="https://ratings.fide.com/profile/523096160"
            class="fide-elo-link"
            >ELO: 1688</a
          >
          <p>
            Especialista en ajedrez pedagógico y formación de jóvenes talentos.
          </p>
          <p class="member-quote">
            "En el ajedrez, como en la vida, cada movimiento cuenta."
          </p>
        </div>
        <div class="team-member">
          <img
            src="../static/images/ivan.jpg"
            alt="Ivan Ayala Lopez"
            class="team-image lazy-load-image"
          />
          <h3>Iván Ayála López</h3>
          <p class="team-position">Tesorero</p>
          <a href="" class="fide-elo-link">ELO: ----</a>
          <p>
            Organizador de torneos y eventos, con amplia experiencia en gestión
            deportiva.
          </p>
          <p class="member-quote">"Lo sé todo, pero no sé nada, el aprendizaje es continuo"</p>
        </div>
        <div class="team-member">
          <img
            src="/static/images/team1.jpg"
            alt="Francisco Riquelme Gracia"
            class="team-image lazy-load-image"
          />
          <h3>Francisco Riquelme Gracia</h3>
          <p class="team-position">Vocal</p>
          <a href="" class="fide-elo-link">ELO: ----</a>
          <p>
            Experto en finales y estrategia posicional, mentor de nuevos
            jugadores.
          </p>
          <p class="member-quote">
            "El conocimiento compartido se multiplica."
          </p>
        </div>
      </section>
    </div>
    <div class="section-content">
      <h2>Galería del Club</h2>
      <p>
        Explora nuestra galería para ver fotos de nuestros eventos, torneos y
        actividades. ¡Capturamos los mejores momentos del club!
      </p>
      <section class="gallery-section">
        <div class="gallery-item">
          <img
            src="/static/images/gallery1.jpg"
            alt="Torneo de Primavera"
            class="gallery-image lazy-load-image"
          />
          <p>Torneo de Primavera 2025</p>
        </div>
        <div class="gallery-item">
          <img
            src="/static/images/gallery2.jpg"
            alt="Clases de Ajedrez"
            class="gallery-image lazy-load-image"
          />
          <p>Clases de Ajedrez para principiantes</p>
        </div>
        <div class="gallery-item">
          <img
            src="/static/images/gallery3.jpg"
            alt="Campeonato Mensual"
            class="gallery-image lazy-load-image"
          />
          <p>Campeonato - Septiembre 2025</p>
        </div>
        <div class="gallery-item">
          <img
            src="/static/images/gallery4.jpg"
            alt="Torneo Almansa"
            class="gallery-image lazy-load-image"
          />
          <p>Almansa- Agosto 2024</p>
        </div>
        <div class="gallery-item">
          <img
            src="/static/images/gallery5.jpg"
            alt="Torneo Sevilla"
            class="gallery-image lazy-load-image"
          />
          <p>Sevilla - Agosto 2025</p>
        </div>
      </section>
    </div>
    <div class="section-content" id="inscription-section">
      <h2>Inscríbete al Club!</h2>
      <p>
        Si estás interesado en unirte a nuestro club y disfrutar de todas las
        ventajas de ser miembro, puedes completar nuestro formulario de
        inscripción y te notificaremos lo antes posible. ¡Te esperamos con los
        brazos abiertos!
      </p>
      <button class="btn" hx-get="/form" hx-target="#content">
        Inscríbete ahora
      </button>
    </div>
  </div>
</div>
